<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Service Management</title>
    <link rel="Stylesheet" href="login.css">
</head>
<body>

    <div class="container">
        <div class="logo">
            <img src="/car1.jpg" alt="Car Logo">
        </div>
        <h1> <strong>PRIME AUTOMOBILES</strong></h1>
        <p>Car Service Management</p>
        <p>Driving Excellence in Vehicle Care where <br> Quality Meets Trust</p>
        <a href="login" class="login-btn">Login</a>
        <div class="footer">
            <p>© 2025 PRIME AUTOMOBILES PRIVATE LIMITED</p>
        </div>
    </div>

</body>
</html>